#passwordPad{
    min-height: 100vh;
    .inner{
        position: relative;
        // height: 100vh;
        min-height: inherit;
        .heading{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 48px;
            padding: 0 $global-horizontal-padding;
        }
        .password-check{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__login-title{
                margin-top: 80px;
                @include textSubTitle(textSubTitle6);
            }
            &__signup{
                display: flex;
                width: calc(100% - $global-horizontal-padding*2);
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;
                .title{
                    @include textSubTitle(textSubTitle1);
                    color:#fff;
                }
                .desc{
                    @include textBody(textBody1);
                    color:$darkGrey;
                }
            }
            &__wrap{
                width: calc(100% - $global-horizontal-padding*2);
                position: absolute;
                top: 22%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 12px;
                margin-top: 40px;
                &__item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                .dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $coolGrey;
                    &.active {
                      background-color: $creditcoin-green;
                    }
                  }
                }
            }  
        }
        .password-input{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 20px;  
            &__box{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
                [class*='button']{
                    height: 70px;
                    color: #fff;
                    cursor: pointer;
                }
                .button-delete{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::before{
                        content: '';
                        display: block;
                        width: 24px;
                        height: 18px;
                        background: url('../../asset/image/clear.svg') no-repeat center 100%;
                    }
                }
                .button-pad{
                    @include textBody(textBody4);
                }
            }
        }
    }
}