#passwordPad{
    .inner{
        position: relative;
        height: 100vh;
        .heading{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 48px;
            padding: 0 $global-horizontal-padding;
        }
        .indicator-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
            .title{
                @include textSubTitle(textSubTitle6);
            }
            .row-item{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                margin-top: 40px;
                .dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $coolGrey;
                    &.active {
                      background-color: $creditcoin-green;
                    }
                  }
                  
            }
            .error{
                margin-top: 32px;
            }
        }
        .numberpad-wrap{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 20px;  
            .grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
                [class*='button']{
                    height: 70px;
                    color: #fff;
                    cursor: pointer;
                }
                .button-delete{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::before{
                        content: '';
                        display: block;
                        width: 24px;
                        height: 18px;
                        background: url('../../asset/image/clear.svg') no-repeat center 100%;
                    }
                }
                .button-pad{
                    @include textBody(textBody4);
                }
            }
        }
    }
}