@charset "UTF-8";

$baseFontSize: 16px;

$max-width: 767px;
$min-width: 320px;

$global-horizontal-padding: 16px;

$black: #0A0C0E;
$lightGrey: #D3D3D3;
$grey: #BBBBBB;
$coolGrey: #292929;
$green: #50F4C2;
$darkGrey: #94949E;
$darkSecondaryGrey:#94949E;
$creditcoin-green: #1EEEAF;
$red: #FF4848;
$deepGrey:#414141;