@charset "UTF-8";

$baseFontSize: 16px;
$baseFontSize-mobile: 15px;

$max-width: 767px;
$min-width: 320px;

$global-horizontal-padding: 20px;

$black: #0A0C0E;
$lightGrey: #D3D3D3;
$grey: #BBBBBB;
$coolGrey: #4C525B;
$green: #50F4C2;
$creditcoin-green: #1EEEAF;